{% extends 'app/base.html' %}
{% block body %}
    <section class="breadcrumb_area blog_banner_two">
        <div class="overlay bg-parallax" data-stellar-ratio="0.8" data-stellar-vertical-offset="0" data-background=""></div>
        <div class="container">
            <div class="page-cover text-center">
                <h2 class="page-cover-tittle f_48">Hakkımızda</h2>
            </div>
        </div>
    </section>

    {% include 'app/sections/about-us.html' %}

    <section class="sample-text-area">
        <div class="container">
            <h3 class="text-heading title_color">BİZ</h3>
            <p class="sample-text">
            Kim olursanız olun, aradığınız ne olursa olsun sizin için mükemmel yer bizde. 29.040.915 yayınlanan birimimiz 6.267.631 ev, daire ve konaklayacak diğer benzersiz yerleri içeriyor ve 227 ülke ve bölgede, 155.177 seyahat noktasında yer alıyor. Booking.com B.V. Amsterdam, Hollanda'da yer alır ve uluslararası olarak 70 ülkede 198 ofis tarafından desteklenmektedir.

            </p>
        </div>
    </section>

{% endblock %}