{% extends 'app/base.html' %}
{% block body %}
    <section class="blog_area">
    <div class="container">
    {% if session.basket %}
        <div class="row">
            <div class="col-md-12 pt-5"><h1>SEPET</h1></div>
            <div class="col-lg-8">
                <div class="blog_left_sidebar">
                    <article class="row blog_item">
                        <div class="col-md-3">
                            <div class="blog_info text-right">
                                <ul class="blog_meta list_style">
                                    <li><a href="#">{{ session.h_title }} Otel<i class="lnr lnr-apartment"></i></a></li>
                                    <li><a href="#">{{ session.h_location }}<i class="lnr lnr-location"></i></a></li>
                                    <li><a href="#">{{ session.checkin }}<i class="lnr lnr-calendar-full"></i></a></li>
                                    <li><a href="#">{{ session.checkout }}<i class="lnr lnr-calendar-full"></i></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="blog_post">
                                <img src="image/blog/main-blog/m-blog-1.jpg" alt="">
                                <div class="blog_details">
                                    <a href="#"><h2>{{ session.h_title }} Otel</h2></a>
                                    <p><img src="{{ session.h_img }}" alt=""></p>
                                    <p>
                                        {{ session.h_address }}
                                        <br><br>
                                        {% set list1 = session.h_attributes.split(',') %}
                                        {% for item in list1  %}
                                            <span class="btn btn-sm btn-primary">{{ item }}</span>
                                        {% endfor %}
                                    </p>
                                </div>

                            </div>
                        </div>
                    </article>
                </div>


                <div class="blog_left_sidebar">
                    {% include 'app/sections/credit-card.html' %}
                </div>

            </div>

            <div class="col-lg-4">
                <div class="blog_right_sidebar">
                    <aside class="single_sidebar_widget author_widget">
                        <img class="author_img rounded-circle" src="image/blog/author.png" alt="">
                        <h4>{{ session.h_title }}</h4>
                        <p>Boot camps have its supporters andit sdetractors. Some people do not understand why you should have to spend money on boot camp when you can get. Boot camps have itssuppor ters andits detractors.</p>
                    </aside>
                    <div class="br"></div>
                    <aside class="single_sidebar_widget author_widget">
                        <h4 class="text-left">5 günlük rezervasyon ücreti</h4>
                        <br>
                        <h2>250 ₺</h2>
                    </aside>
                    <div class="br"></div>
                    <aside class="single_sidebar_widget author_widget">
                        <a href="{{ url_for('create_reservation') }}" class="view_btn button_hover complete_basket">Tamamla</a>
                        <a href="{{ url_for('basket_clear') }}" class="view_btn button_hover">Sepeti Boşalt</a>
                    </aside>
                </div>
            </div>
        </div>

    {% else %}
        <div style="min-height: 700px;">
            <h1 class="text-center" style="line-height: 700px">Sepetiniz Boş</h1>
        </div>
    {% endif %}

    </div>
    </section>

    <script>
        $(document).ready(function () {
            $(".complete_basket").on('click',function () {
                alert("a");
            })
        })
    </script>
{% endblock %}