{% extends 'app/base.html' %}
{% block body %}
    <section class="banner_area">
        <div class="booking_table d_flex align-items-center">
        </div>
        <div class="hotel_booking_area position">
            <div class="container">
                {% include 'app/sections/reservation-card.html' %}
            </div>
        </div>
    </section>
    {% if alert %}
        <script>
            alert("{{ alert['message'] }}");
        </script>
    {% endif %}
    {% include 'app/sections/about-us.html' %}
    {% include 'app/sections/review.html' %}
{% endblock %}