{% extends 'admin/base.html' %}
{% block body %}

    <div class="row p-5">
        <div class="col-md-3 card text-white bg-dark m-4">
            <div class="card-header">Toplam Otel Sayısı</div>
            <div class="card-body">
                <h5 class="card-title">{{ data['hotel'] }}</h5>
            </div>
        </div>
        <div class="col-md-3 card text-white bg-info m-4">
            <div class="card-header">Toplam Müşteri Sayısı</div>
            <div class="card-body">
                <h5 class="card-title">{{ data['user'] }}</h5>
            </div>
        </div>
        <div class="col-md-3 card bg-light m-4">
            <div class="card-header">Toplam Rezervasyon sayısı</div>
            <div class="card-body">
                <h5 class="card-title">{{ data['reservation'] }}</h5>
            </div>
        </div>
    </div>
{% endblock %}