<div class="bg-light border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Çınar Admin Paneli</div>
    <div class="list-group list-group-flush">
        <a href="{{ url_for('admin') }}" class="list-group-item list-group-item-action bg-light">Anasayfa</a>
        <a href="{{ url_for('a_hotel') }}" class="list-group-item list-group-item-action bg-light">Oteller</a>
        <a href="{{ url_for('a_reservation') }}" class="list-group-item list-group-item-action bg-light">Rezervasyonlar</a>
        <a href="{{ url_for('a_users') }}" class="list-group-item list-group-item-action bg-light">Üyeler</a>
    </div>
</div>
