<section class="testimonial_area section_gap">
    <div class="container">
        <div class="section_title text-center">
            <h2 class="title_color">Müşterilerimizin Görüşleri</h2>
        </div>
        <div class="testimonial_slider owl-carousel">
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/testtimonial-1.jpg') }}" alt="">
                <div class="media-body">
                    <p>"Uzak Doğu’nun gizemli havasını modern mimariyle buluşturan özel tasarımlı dinlenme alanlarında vakit geçirebilir, siyah mermerlerle döşenmiş kapalı havuzda serinleyebilirsiniz."</p>
                    <a href="#"><h4 class="sec_h4">Nurşah Terzioğlu</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/testtimonial-1.jpg') }}" alt="">
                <div class="media-body">
                    <p>"Spa merkezinde mineral zengini termal havuz, jakuzi ve ısıtılmış deniz suyu havuzunda, yeni ve şifalı deneyimlere uzanın."</p>
                    <a href="#"><h4 class="sec_h4">Ayşe Gelmez</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/testtimonial-1.jpg') }}" alt="">
                <div class="media-body">
                    <p>"Şifalı suların canlandırıcı etkisiyle buluşmanızı sağlayan, ziyaretçilerin yaz kış konakladığı otelin büyük bir havuzu çevreleyen ferah odaları mevcut."</p>
                    <a href="#"><h4 class="sec_h4">Merve Katılmış</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
            <div class="media testimonial_item">
                <img class="rounded-circle" src="{{ url_for('static', filename='image/testtimonial-1.jpg') }}" alt="">
                <div class="media-body">
                    <p>"Spa merkezinde mineral zengini termal havuz, jakuzi ve ısıtılmış deniz suyu havuzunda, yeni ve şifalı deneyimlere uzanın."</p>
                    <a href="#"><h4 class="sec_h4">Dilara Gür</h4></a>
                    <div class="star">
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star"></i></a>
                        <a href="#"><i class="fa fa-star-half-o"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
